[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
descartes = "*"
geojson = "*"
geopandas = "*"
haversine = "*"
matplotlib = "*"
networkx = "*"
osmnx = "*"
pandas = "*"
shapely = "*"
nhstravel = {editable = true, ref = "c73ed01db70dfaa819ec51bfa1e8ff1365e668b9", git = "https://github.com/nhs-pycom/nhs_time_of_travel.git"}

[dev-packages]

[requires]
python_version = "3.10"
