-i https://pypi.org/simple
attrs==23.1.0 ; python_version >= '3.7'
certifi==2022.12.7 ; python_version >= '3.6'
charset-normalizer==3.1.0 ; python_full_version >= '3.7.0'
click==8.1.3 ; python_version >= '3.7'
click-plugins==1.1.1
cligj==0.7.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2' and python_version < '4'
contourpy==1.0.7 ; python_version >= '3.8'
cycler==0.11.0 ; python_version >= '3.6'
descartes==1.1.0
fiona==1.9.3 ; python_version >= '3.7'
fonttools==4.39.3 ; python_version >= '3.8'
geojson==3.0.1
geopandas==0.12.2
haversine==2.8.0
idna==3.4 ; python_version >= '3.5'
kiwisolver==1.4.4 ; python_version >= '3.7'
matplotlib==3.7.1
munch==2.5.0
networkx==3.1
-e git+https://github.com/nhs-pycom/nhs_time_of_travel.git@c73ed01db70dfaa819ec51bfa1e8ff1365e668b9#egg=nhstravel
numpy==1.24.3 ; python_version >= '3.8'
osmnx==1.3.0
packaging==23.1 ; python_version >= '3.7'
pandas==2.0.1
pillow==9.5.0 ; python_version >= '3.7'
pyparsing==3.0.9 ; python_full_version >= '3.6.8'
pyproj==3.5.0 ; python_version >= '3.8'
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pytz==2023.3
requests==2.28.2 ; python_version >= '3.7' and python_version < '4'
shapely==2.0.1
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
tzdata==2023.3 ; python_version >= '2'
urllib3==1.26.15 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
