[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit-folium = "*"
descartes = "*"
geojson = "*"
geopandas = "*"
geopy = "*"
haversine = "*"
numpy = "*"
osmnx = "*"
openpyxl = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
shapely = "==1.8.5.post1"
networkx = "*"
nhstravel = {editable = true,path="./.."}

[dev-packages]

[requires]
python_version = "3.10"
